* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin-top: 50px;
  background-color: black;
  text-align: center;
}

h1 {
  color: white;
  margin-bottom: 30px;
  margin: 0 auto;
}
h2 {
  font-size: 50px;
  color: white;
  margin-bottom: 30px;
  margin: 0 auto;
  color: blueviolet;
}
.container_1 {
  width: 30%;
  margin: 20px auto;
  padding: 20px 50px;
  border: 10px solid rgb(122, 28, 28);
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}
.container_2 {
  width: 100%;
  height: 50px;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
  line-height: 50px;
}
button {
  margin-top: 30px;
  padding: 10px;
  background-color: rgb(122, 28, 28);
  color: aliceblue;
  cursor: pointer;
  font-size: 15px;
}
input {
  margin-left: 20px;
  width: 40%;
  height: 25px;
}

#input_year {
  width: 30%;
  height: 25px;
}
#cachrachodep {
  margin-bottom: 5px;
}
.container2 {
  width: 100%;
  height: 80px;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
  line-height: 50px;
}
.container3 {
  width: 100%;
  height: 120px;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
  line-height: 50px;
}
.year_and_month {
  display: flex;
}
.month {
  display: flex;
  gap: 10px;
}
.month select {
  height: 25px;
}

.year label {
  width: 10%;
}

#label_4_3 {
  width: 50%;
}
